@model DesignPattern.Mediator.MediatorPattern.Results.GetProductByIdQueryResult

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <label>Ürün ID</label>
    <input type="text" class="form-control" asp-for="ProductId" />
    <br />
    <label>Ürün Adı</label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    <label>Ürün Stok Sayısı</label>
    <input type="text" class="form-control" asp-for="ProductStock" />
    <br />
</div>